
body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #f8f3ed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.convite {
    width: 600px;
    padding: 20px;
    background: #fff;
    border: 2px solid #d4a59a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.convite:before, .convite:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://source.unsplash.com/featured/?floral'); 
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: -1;
}

.versiculo {
    font-size: 14px;
    color: #6e5045;
    font-style: italic;
    position: absolute;
    top: 10px;
    left: 20px; 
    width: calc(100% - 40px); 
}

.nomes {
    font-size: 56px;
    color: #8a5e55;
    margin-bottom: 10px;
    margin-top: 60px; 
    font-family: 'Lobster', cursive; 
}

.nomes span {
    color: #d36b5c;
}

.texto {
    font-size: 18px;
    color: #6e5045;
    margin-bottom: 30px;
}

.data {
    margin: 20px 0;
    color: #6e5045;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data .mes-dia-ano {
    text-align: center;
}

.data .mes {
    font-size: 20px;
}

.data .dia {
    font-size: 50px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
    
}

.data .ano {
    font-size: 20px;
}

.data .horario {
    font-size: 18px;
}

.icones {
    display: flex;
    justify-content: center;
    align-items: center;     
    margin-top: 30px;
}

.icones div {
    text-align: center;
    margin: 0 10px; 
}

.icones img {
    width: 50px;
    height: 50px;
}

.icones span {
    display: block;
    font-size: 14px;
    color: #6e5045;
    margin-top: 5px;
}

.icones a {
    text-decoration: none;
    color: inherit;
}

.rodape {
    font-size: 14px;
    color: #6e5045;
    margin-top: 20px;
}
.presentes {
    width: 600px;
    padding: 20px;
    background: #fff;
    border: 2px solid #d4a59a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.presentes h1 {
    font-family: 'Lobster', cursive;
    color: #8a5e55;
    margin-bottom: 20px;
}

.presentes img {
    width: 100px;
    height: 100px;
    margin: 20px 0;
}

.presentes p {
    font-size: 18px;
    color: #6e5045;
    margin-bottom: 20px;
}

.presentes .chave-pix {
    font-size: 20px;
    font-weight: bold;
    color: #d36b5c;
    background: #f8f3ed;
    padding: 10px;
    border: 1px dashed #d4a59a;
    display: inline-block;
    margin-top: 10px;
}
